<section id="services">

<!-- Page Content -->
 {{ range $index, $element :=  where .Data.Pages "Section" "in" "post" }}
    {{ if modBool $index 2 }}
    <div class="content-section-a">
    {{ else }}
    <div class="content-section-b">
    {{ end }}

        <div class="container">

            <div class="row">
                <div>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{{ end }}

</section>
